
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.icon_2b{
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-size: 16px;

}

h1 {
  font-size: 16px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  line-height: 1.35;


}
h2 {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight:bold;
  margin-top: 10px;
  line-height: 1.35;
  letter-spacing: 2px;
  

}
h5{
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight:bold;
  margin-top: 10px;
  line-height: 1.4;
  letter-spacing: 2px;
  
}
p {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  padding-top: 10px;

}
button {
  cursor: pointer;
}
.readmorebutton{
  cursor: pointer !important;
}
.icons {
  width: 40px;
  margin-bottom: -20px;
}
.icons2{
  padding-bottom:20px !important;
}
.fas.fa-quote-right{
color:#ff6100 !important;
}
.topContainer {
  background-image: linear-gradient(rgba(0, 4, 255, 0.5), rgba(17, 0, 255, 0.5)),
    url("assets/amy.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fas .fa-paper-plane{
color: #ff6100;
}
main {
  min-height: calc(100vh - 3.5rem - 8rem);
  margin-top: 3.5rem;

}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
}

.moveRight{
  flex: 1;
}
@keyframes fadein {
  100% {
    opacity: 1;
  }
}

.main-header__brand {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: #ff6100;
  padding: 10px;
  font-size: 20px;
}

.main-header__brand p {
  height: 2.5rem;
  vertical-align: middle;
}

.main-nav {
  display: flex;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 1rem;
  background-color: #ff6100;
  padding: 15px;
  margin: 0;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 2px solid white;
  background: #061be6;
  padding: 15px;
}

.main-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}


#aboutUs{

width: 100vh;
}
h1.AboutUsText{
  font-size: 10px !important;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}
.cartIcons {
  color: white;
  background-color: #061be6;
}
.cartIcons:hover {
  cursor: pointer;
}
.Financial_Help {
  font-weight: 800;
  font-size: 45px;
  letter-spacing: 3px;
  white-space: nowrap;
  overflow: hidden;  
  animation: animated-text 4s steps(40,end) 1s 1 normal both
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 100%;}
}

.Financial_Help2{
  font-weight: 800;

  font-size: 45px;
  letter-spacing: 3px;
  white-space: nowrap;
  overflow: hidden; 
  animation: animated-text2 4s steps(40,end) 1s 1 normal both;
  animation-delay: 5s;
  margin-top: -30px;
}

@keyframes animated-text2{
  from{width: 0;}
  to{width: 100%;}
}
.topContainerText {
  width: 90%;
  padding-top: 200px !important;
  text-align: center;
  color: white;
  backface-visibility: hidden;
 
}
.socialIcons{
  font-size: 10px;
  line-height: 13px;
}

.topbuttons {
  text-align: center;
  margin-top: 20px;
  
}
p.Financial_Help_P{
  margin-top: -20px;
  font-size: 25px;
  width: 65%;
  margin: 0 auto;
}
button.contactButton{
  background-color: #ff6100;
}
.contactButton {
  padding: 13px;
  font-size: 15px;
  border: none;
  background-image: linear-gradient(to left,
  transparent,
  transparent 50%,
  #061be6 50%,
  #061be6);
background-position: 100% 0;
background-size: 200% 100%;
transition: all .25s ease-in;
  border-radius: 5px;
  margin-right: 10px;
  color: black;
  font-weight: 700;
}


.contactButton:hover {
  color: white;
  font-weight: bolder;
  background-position: 0 0;
}

.clientmidBoxMargin{
  margin-top: 20px;
}
button.servicesButton{
  background-color: #061be6;
}
button.servicesButton{
  background-color: #ff6100;
}

.servicesButton {
  padding: 13px;
  font-size: 15px;
  border: none;
  background-image: linear-gradient(to left,
  transparent,
  transparent 50%,
  #ff6100 50%,
  #ff6100);
background-position: 100% 0;
background-size: 200% 100%;
transition: all .25s ease-in;
  border-radius: 5px;
  margin-right: 10px;
  color: white;
  font-weight: 700;

}

button.servicesButton{
  background-color: #061be6;
}

.servicesButton:hover {
  color: black;
  font-weight: bolder;
  background-position: 0 0;
}
#sectionOne {
  display: flex;
  text-align: left;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.boxSection0ne{
  width: 50%;
}
.fresh-Aproach,.aboutUsParagraph,.Exclucive_ServiceText{
  letter-spacing: 1.5px;
  font-weight: 800;
}
.sectionOneSegment1 {
  width: 100%;

}
.sectionOneSegment2 {
  margin-left: 30px;
  display: flex;
  width: 70%;
}

.businessImage1 {
  background-image: linear-gradient(rgba(0, 4, 255, 0.6), rgba(17, 0, 255, 0.6)),
    url("assets/discussion.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  margin: 10px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.businessImage2 {
  background-image: linear-gradient(rgba(0, 4, 255, 0.6), rgba(17, 0, 255, 0.6)),
    url("assets/discussion-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  margin: 10px;
  height: 400px;
  position: relative;
  overflow: hidden;

}
.movedright {
  flex: 1;
}
.formbg{
  background: rgba(3, 19, 248, 0.651) !important;

}
.businessImage1_content {
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 10px;
  color: white;
  background:rgba(11, 70, 199, 0.4);
  width:300px;
  
}
.Provident_text{
  margin-top:9px;
  font-size: 14px;
}


#sectionTwo {
  background-image: url(assets/bgimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 60px;
  color: white;
}

.aboutUsHeading{
  font-size: 16px;
}
.prov_background {
  background:rgba(11, 70, 199, 0.4);
  width:300px;
  padding: 10px;
  margin-left: -10px;
}
.icon_1 {
  position: absolute;
  top: -6px;
  right: -6px;
}
.icon_2 {
  position: absolute;
  bottom: 60px;
  right: 0px;

  
}
.team1Text {
  position: absolute;
  width: 35%;
  bottom: 40px;
  left: 63px;
  background-color: #ff6100;
  padding: 10px;
}
.about_Us {
  width: 32%;
  position: absolute;
  top: 15%;
  right: 50px;
}

.about_Us_Mobile {
  display: none;
}
.servicesSection{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}
.grayColor1{
  color:rgb(126, 125, 125);
  margin-top: 10px;
  margin-bottom: 10px;
}
.grayColor{
  color:rgb(126, 125, 125);
  font-size: 15px;
}
.caseMargin{
  margin-top: -60px;
}
.sixBoxesSection{
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
}
.services_heading {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 0px;
}
.topBoxes {
  width: 80%;
  display:grid; 
  grid-gap: 20px 20px;
  grid-template-columns: auto auto auto;
  text-align: left;
  justify-content: space-between;
  margin: 0 auto;
  align-content: center;
}
.services_boxes {
  padding: 8px;
  height: 220px;
  background-color: #ffffff;
  box-shadow: 0 0 2px rgb(153, 153, 153);
}

.services_boxes:hover {
  border-bottom: 2px solid #ff6100;
}
.investmentTextHeader {
  font-size: 15px;
  margin-left: 5px;
  padding-top: 35px;
  /* padding-right: 10px; */
  box-sizing: border-box;
}
.investmentText {
  padding: 4px;
}
#sectionThree {
  margin: 0 auto;
  margin-top: 60px;
  width: 99%;
  background-color: #f0eeee;
  height: 120vh;
  overflow: hidden;
}
.sectionThreeInnerBox{
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns:512px 400px;
  justify-content: center;
  
}
.exclusive {
  /* width: 90%; */
  justify-content: end;
  margin-top:50px;
  margin-bottom:50px;
  
}
.exclusiveImage {
  background-image: linear-gradient(rgba(22, 22, 26, 0.5), rgba(17, 0, 255, 0.5)),
    url("assets/collaborate.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  height:160vh;
  margin-right: -150px;
  background-position: right;
}
.exclusive_box {
  display: flex;
}
.exclusive_boxes {
  width: 44%;
  margin: 2px;
}

.sectionFour {
  width: 70%;
  display: grid;
  grid-template-columns: 500px 500px;
  justify-content: center;
  grid-column-gap:10px;
  margin: 0 auto;
  margin-top: 60px;
  height: 80vh;
}
.dashboard {
  height: 300px;
  box-shadow: 5px 10px 8px #888888;
}
.dashboard_text {
  width: 90%;
}
.socialIcon {
  display: flex;
  justify-content:flex-start;
  margin-bottom: 10px;
}

.androidBUtton {
  width: 25%;
  height: 40px;
  border: none;
  background-color: #ff6100;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 0;
  margin-right: 10px;
}

.iosButton {

  width: 25%;
  height: 40px;
  border: none;
  background-color: #061be6;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 0;
  
}
.iosButton img {
  width: 20px;
}
.clientBoxes {
  width: 78%;
  display:grid;
  grid-gap:  20px;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  justify-content: center;
  margin-top: 60px;

}
.clientBox {  
    margin-top: 10px;
    width: 100%;
    padding:15px;
    height: 350px;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgb(153, 153, 153);
  background-color: rgb(216, 212, 212);
  -webkit-box-shadow: 0px 1px 0px 2px rgba(217, 214, 217, 0.61);
  -moz-box-shadow: 0px 1px 0px 2px rgba(217, 214, 217, 0.61);
  box-shadow: 0px 1px 0px 2px rgba(217, 214, 217, 0.61);
}

.clientmidBox {
    margin-top: 10px;
    padding:15px;
  color: white;
  text-align: center;
  display: flex;
  background-image: linear-gradient(rgba(0, 4, 255, 0.5), rgba(17, 0, 255, 0.5)),
    url("assets/chair.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 200px;
}

.cityBackground {
  color: white;
  text-align: center;
  background-image: linear-gradient(rgba(0, 4, 255, 0.5), rgba(17, 0, 255, 0.5)),
    url("assets/city.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  height: 400px;
  width: 99%;
  display: flex;
  /* padding-left: 150px; */
  margin: 0 auto;
  margin-top: 150px;
}

.financeetext{
  margin-top:2px;
}
.formBoxes{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}
.positioned_Boxes {
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 30px;
  margin: 0 auto;
}

.cityBackground_boxes {
  background: rgba(3, 19, 248, 0.651);
  width: 200px;
  padding: 35px;
}

.boxesPink {
  background: #ff6200;
  width: 200px;

  padding: 35px;
  
}

.form {
  /* background: #061be6; */
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: -90px;
  margin-bottom: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.input,input {
  margin: 10px;
  width: 90%;
  height: 35px;
  border-radius: 3px;
  border: none;
  background-color: #d6d5d552;
}
::placeholder {
  color: white;
  padding: 15px;
}
::-webkit-input-placeholder {
  color: white;
}
select {
  margin: 10px;
  width: 90%;
  height: 35px;
  border-radius: 3px;
  border: none;
  background-color: #1c2788;
  color: white;
  padding: 10px;
}
.Testimonial_Section,.BlogSection{
  margin-top: 60px;
}

.submitBUtton {
  padding: 10px;
  width: 90%;

  font-size: 15px;
  border: none;
  background-color: #ff6100;
  border-radius: 5px;
  color: white;
}
.section_money {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  margin: 0 auto;
  margin-top: 60px;
}
.consultation {
  text-align: left;
  background: #ff6100;
  padding-left: 10px;
  width: 200px;
  margin-top: 20px;
}

.testimonials {
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.smile_image {
  width: 50%;
  margin-right: 50px;
}
.testimonialsText {
  color: rgb(119, 117, 117);
  font-style: italic;
  margin-bottom: 10px;
  width: 100%;
}
.texan {
  display: flex;
}
.wins_text {
  text-align: left;
}




.section_moneyBox1 img {
  width: 100%;
}

.xeroOutterbox {
  background-color: rgb(236, 232, 232);
  padding: 5px;
}
.xeroOutterbox:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ff6100;
  color: white;
}
.Xerotheme {
  display: flex;
  width: 70%;
  align-items: center;
}
.Xerotheme_Date{
  font-size: 8px;
  font-weight: bold;
}
.XeroTheme_text {
  color: #ff6100;
  margin-top: -10px;
  margin-bottom: 1px;
}
.XeroTheme_text2 {
  color: #061be6;
  margin-top: -10px;
  margin-bottom: 1px;
}
.hrquote{
  margin-top: -10px;
}
.Texanhr{
  color:rgb(133, 130, 130);
  width: 200px;
  margin-top: 12px;
}
.small_hr {
  margin-right: 4px;
  margin-left: 4px;
  height: 15px;
  background-color: #e0dede4b;
}

.footerList {
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
}
.footerList_text {
  display: flex;
  justify-content: space-around;
   width: 100%;
}
.bold_list {
  font-weight: bolder;
}
.list_boxes {
  width: 100%;
}
ul {
  list-style: none;
  margin: 25px;
  
}
ul li {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
}
.footer_form {
  display: flex;
  align-items: center;
}

.footer_form input {
  margin: 0;
  border-radius: 0px;
  border: none;
  background-color: rgba(236, 235, 235, 0.938);
}
.finance_img{
  margin-left:22px; 
}
.footer_nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer_button {
  background-color: #ff6100;
  border: none;
  margin-left: -3px;
  height: 35px;
  z-index: -1;
  width: 40px;
  cursor: pointer;
}
.fa > .fa-paper-plane {
  cursor: pointer;
}

.footer_form ::placeholder {
  color: gray;
}

.main-footer {
  width: 90%;
  margin: 0 auto;

  background: rgba(236, 235, 235, 0.938);
  padding: 0.5rem;
  margin-top: 3rem;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__link {
  margin: 0.5rem 0;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

ul.social_img{
  display: flex;
  justify-content: center;
}
ul.social_img li a{
  margin: 8px;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: transparent;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
  border: #a1a1a1;
  background: #ccc;
  color: #a1a1a1;
}

.Subscribe {
  display: none;
}
.themeforestIcon {
  width: 120px !important;
  display: inline-block;
  transition: all 0.2s ease-out;
}
.envatoIcon {
  width: 120px !important;

  display: inline-block;
  transition: all 0.2s ease-out;
}
.videohiveIcon {
  width: 120px !important;

  display: inline-block;
  transition: all 0.2s ease-out;
}
.doceanIcon {
  width: 120px !important;

  display: inline-block;
  transition: all 0.2s ease-out;
}
.audiojungleIcon {
  width: 120px !important;

  display: inline-block;
  transition: all 0.2s ease-out;
}
.brand_theme {
  width: 80%;
  height: 90px;
  background-color: rgba(250, 242, 242, 0.719);
  margin: 0 auto;
  margin-top: 60px;
  position: relative;
  overflow: hidden;
}
.brand_themeIcons {
  display: flex;
  width: 70%;
  align-items: center;
  position: absolute;
  top: 35px;
  justify-content: space-around;
  animation: slide 10s linear infinite;
}

.brand_themeIcons2 {
  display: flex;
  width: 70%;
  align-items: center;
  position: absolute;
  top: 35px;
  justify-content: space-around;
  animation: slide2 10s linear infinite;

}

.brand_themeIcons:hover,
.brand_themeIcons2:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
}

 @keyframes slide {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

@keyframes slide2 {
  0% {
    left: 0%;
  }
  100% {
    left: -200%;
  }
} 


@media (max-width: 768px) {
 
  html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
ul {
  list-style: none;
  margin: 13px;
  
}
ul li {
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0px;
}

h1 {
  font-size: 16px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  line-height:0.5;


}
h2 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight:bold;
  margin-top: 10px;
  line-height: 1.35;
  letter-spacing: 2px;
  

}
h5{
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight:bold;
  margin-top: 10px;
  line-height: 1.4;
  letter-spacing: 2px;
  
}
.Texanhr{
  display: none;
}
.wins_text h2{
  font-size: 12px ;
}
p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;

}
.topContainerText {
  width: 100%;
  padding-top: 70px;
}

.smallscreen{
  display: none;
}
.Provident_text{
  margin-top:9px;
  font-size: 14px;
  padding: 5px;
}
.clientsText{
  font-size: 10px;
  padding-left: 5px;

}
.clientsTextButton{
  padding-left: 5px;
 
}
  .main-header__brand {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #ff6100;
    padding: 1px;
    font-size:25px;
    font-weight: 800;
    
  }
  .blog_text{
    width: 100%;
    text-align: left;
  }

  
  .main-header__brand p {
    height: 2.6rem;
    vertical-align: middle;
  }

  .main-nav {
    display: flex;
  }

  .main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-size: 8px;
  }

  

  .main-nav__item {
    margin: 0 1.5rem;
    background-color: #ff6100;
    margin: 0;
    padding: 7px;
    font-size: 6px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .main-nav__item a,
  .mobile-nav__item a {
    font-size: 8px;
    text-decoration: none;
    color: white;
    padding: 0.2rem 0;
  }

  .main-nav__item a:hover,
  .main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
  }

  .main-nav__item--cta a {
    color: white;
    background: #ff6100;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }

  .main-nav__item--cta a:hover,
  .main-nav__item--cta a:active {
    color: #ff6100;
    background: white;
    border: none;
  }

  .topContainer{
    height: 80vh;
    margin-bottom: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("assets/amy.jpg");
  }
  .cartIcons {
    color: white;
    background-color: #061be6;
  }

 
  .Financial_Help2,.Financial_Help {
   font-size: 15px !important;
   text-align: center;
   line-height: 2rem;
   letter-spacing:2;
  letter-spacing: 3px;
  margin-bottom: 19px;
  white-space: normal;
  overflow: visible;
    animation: none;
    margin-top: -23px;

  }
  .Financial_Help_P{
    font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 32px;      /* fallback */
  -webkit-line-clamp:1; /* number of lines to show */
  -webkit-box-orient: vertical;
  max-width: 75ch;

  }
  #sectionOne {
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 400px
  }
  .boxSection0ne{
    display: none;
  }
  
  .movedright {
    display: none;
  }

  .sectionOneSegment1 {
    width: 90%;
    margin-bottom: 50px;
  }
  .boxSection0ne{
    display: none;
  }
  .businessImage1 {
    background-image: linear-gradient(rgba(0, 4, 255, 0.6), rgba(17, 0, 255, 0.6)),
      url("assets/discussion.jpg");
    
    background-position: 50%;
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  .businessImage2 {
    background-image: linear-gradient(rgba(0, 4, 255, 0.6), rgba(17, 0, 255, 0.6)),
      url("assets/discussion-2.jpg");
    background-position: 50%;
    width: 100%;
    
   
  
  }
  .sectionOneSegment2 {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .businessImage1_content {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: left;
  padding: 10px;
  color: white;
  background:rgba(11, 70, 199, 0.4);
  
}
.readmorebutton{
  cursor: pointer !important;
}
  
  #sectionTwo {
    display:flex;
    flex-direction: column;
      background-image:none;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100%;
        position: relative;
      margin: 0 auto;
      margin-top: 450px;
      color: white;  
  align-items: center;
  

  }


  .fresh-Aproach,.aboutUsParagraph,.Exclucive_ServiceText{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 30px;
    margin-top: 30px;
    text-align: justify;
    
  }
  .caseMargin{
    margin-top: 60px;
  }
  
  .Exclucive_paragrapgh{
    text-align: center;
  } 
  .Exclucivep{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;

  } 
  .team1Text{
    display: none;
  }
    .about_Us {
      background-color:rgba(0,0,0,0.8);
      padding: 20px;
      width:79%;
      justify-content: center;
      position: static;
      /* margin-top: -190px; */
     
     
      filter: opacity(1);   
order:1;
  }
  .about_Us_Mobile {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }
  .team1Text {
    width: 85%;
    color: white;
    background-color: rgba(0, 0, 0, 0.8)
    
  }
  .sixBoxesSection{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .servicesSection{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: -30px;

    
  }
  .testimonials {
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  
  }
  .smile_image {
    width: 100%;
    margin-bottom: 40px;
  }
  .testimonialsText {
    color: rgb(119, 117, 117);
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
  }
  .section_moneyBox1 {
    width: 100%;
    margin: 0 auto;
  }
  .brand_themeIcons2{
    display:none;
  }
    .topBoxes {
      width: 100%;
      display:grid;
      grid-gap:10px;
      grid-template-columns: auto;
      text-align: left;
      justify-content: space-between;
      margin: 0 auto;
      align-content: center;
    }

  .services_boxes {
    width: 100%;
    margin: 10px;
    padding:7px;
    height: 240px;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgb(153, 153, 153);
  }

  .exclusive {
    margin: 40px 5px;
  }
  #sectionThree {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  
.sectionThreeInnerBox{
  width: 90%;
  height: auto;
  margin: 0 auto;
  display:grid;
  grid-template-columns:auto;
  margin-top:40px;
  justify-content: space-evenly;
  overflow: hidden;

  
}
  .exclusiveImage {
    background-image: linear-gradient(
        rgba(255, 145, 0, 0.5),
        rgba(17, 0, 255, 0.5)
      ),
      url("assets/collaborate.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    width: 100%;
    height: 505px;
    background-position: center;
    
  }
  
  .exclusive_box {
    display: grid;
    grid-template-columns: auto;
    
    margin-top: 30px;
    height: auto;
  }
  .exclusive_boxes {
    width: 100%;
    margin: 0px auto;
    margin-top: 20px;
  }

    .services_boxes {
      width: 90%;
      margin: 10px;
      padding:6px;
      height: 240px;
      background-color: #ffffff;
      box-shadow: 0 0 2px rgb(153, 153, 153);

  }
  .quote > h5 {
    font-size: 11px;
    letter-spacing: 1px;
  }
  .clientBox {
    width: 100%;
    margin-top: 40px;
    margin-left: 0px;
    padding: 10px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .sectionFour {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-origin: border-box;
    background-size: cover;
    width: 80%;
    height: auto;
  }
  .dashboard{
    height: 60vh;
    width: 90vw;
  }
  .dashboard_text {
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
  }
  .grayColor{
    text-align: center;
    font-size: 15px;
  }
  .justify{
    text-align: justify;
    
  }
  .socialIcon{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
  }
  .androidBUtton,.iosButton{
    width: 40%;
  }
  .android {
    height: 30px !important;
  }
 
    .clientBoxes {
      width: 90%;
      display:grid;
      grid-gap:  8px;
      grid-template-columns:  auto ;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
     
  }
  .clientBox {
   
    background-color: rgb(216, 212, 212);
    -webkit-box-shadow: 0px 1px 0px 2px rgba(217, 214, 217, 0.61);
    -moz-box-shadow: 0px 1px 0px 2px rgba(217, 214, 217, 0.61);
    box-shadow: 0px 1px 0px 2px rgba(217, 214, 217, 0.61);
  }

  .digitax{
    display:none;
  }
  .clientmidBox {
    padding: 6px;
  color: white;
  text-align: center;
  display: flex;
  background-image: linear-gradient(rgba(0, 4, 255, 0.5), rgba(17, 0, 255, 0.5)),
    url("assets/chair.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* margin-bottom: -20px; */
  height: 350px;
}


  .cityBackground {
    color: white;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("assets/city.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    height: auto;
    margin-top: 60px;
    position: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
  }
  .consultation {
    text-align: left;
    background: #ff6100;
    padding-left: 10px;
    width: 310px;
    margin-top: 20px;
  }
  .positioned_Boxes {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-row-gap: 30px;
    
  }
  .formBoxes{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
  }

  .cityBackground_boxes {
    background: rgba(3, 19, 248, 0.651);
    width: 110px;
    margin: 10px;
    padding: 10px;
    margin-top: 0px;
  }
  
  form.formbg{
    background: rgba(3, 19, 248, 0.651) !important;
    padding: 20px 0px;

  }
  .form {
    /* background: #061be6; */
    position: static;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 350px;
    margin-left: -35px;
    
  }

  section.cityBackground {
    margin-left: 0 auto;
  }
  

  
  .services_heading {
      width: 80%;
      text-align: center;
      margin: 0 auto;
      margin-top: 10px;
      margin-top: 60px;
    }
    .icon_2b{
      display: block;
      float: right;
    }
    .icon_2{
      display:none;
    }
    .footerList_text{
      display: grid;
      /* grid-template-columns: auto; */
      justify-content: center;
      width: 100%;
      grid-gap: 5px;
  
    }
    .box1{
      grid-column: 1 / span 3;
      grid-row: 1;
    }
    .box2{
      grid-column: 1 / span 2;
      grid-row: 2;
    }
    .box4{
      grid-column: 1 / span 3;
      grid-row: 3;
    }
    .footer_form {
      padding: 0px;
      width: 100%;
    }
    .footerList img{
      margin-left: 10px;
    }
    .section_money {
      width: 80%;
      display: grid;
      grid-template-columns:  auto;
      grid-row-gap: 50px;
      margin: 0 auto;
      margin-top: 80px;
    }
  
    
  }
  
  .list_boxes ul li{
font-size: 14px !important;
line-height: 20px;
  }
  
 .smile_image {
    width: 300px; 
  }
  
  
  .pReadmore{
    margin: 20px 0;
  }
  .Xerotheme p {
    font-size: 8px !important;
  }

  .brand_themeIcons {
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    margin-left: 68px;
    justify-content: space-around;
  }
  .brand_themeIcons2 img{
    width: 50px;
    margin-top: 8px;
    margin-left: 30px;
  }
  .brand_themeIcons img {
    width: 50px;
    margin-top: 8px;
    margin-left: 30px;
  }
  .footer_nav {
  
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  .footerList {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
   
  }

  .movedright{
    flex: none;
  }
  
  .Subscribe {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .main-nav__item a:hover,
  .main-nav__item a:active {
    color: white;
    border-bottom: 2px solid white;
    background: none;
    padding: 0;
  }


@media (min-width: 320px) and (max-width: 480px) {
  p {
    font-size: 12px;
    line-height: 20px;
  }
  .topContainerText {
    
    width:80%;
    
  }
  .main-header__brand {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    background-color: #0011ff;
    padding: 5px;
    padding-top:6px;
    padding-bottom:6px;
    font-size: 25px;
  }

  .main-header__brand p {
    height: 2.2rem;
    vertical-align: middle;
  }

  .main-nav {
    display: flex;
  }

  .main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-size: 5px;
  }

  .main-nav__item {
    margin: 0 1.5rem;
    background-color: #ff6100;
    padding: 5px;
    margin: 0;
    padding: 5px;
    padding-top:8px;
    padding-bottom:8px;
    font-size: 5px;
  }

  .main-nav__item a,
  .mobile-nav__item a {
    font-size: 6px;
    text-decoration: none;
    color: white;
    padding: 0.4rem 0;
  }

  
  

  .main-nav__item--cta a:hover,
  .main-nav__item--cta a:active {
    color: #ff6100;
    background: white;
    padding: 1rem 1rem;

    border: none;
  }
  .Financial_Help {
    font-size: 20px;
    line-height: 1.5rem;
  }
  #sectionOne {
    height: 90hv;
    width: 90%;
    margin:0 auto;
    
  }

  .servicesButton{
    display:none;
  }
  .prov_background{
  height: 90px;
padding-bottom: 0px;
margin-bottom: -9px;
  }
  .clientsText{
    font-size: 10px;
  }
  .businessImage1_content {
    position: absolute;
    bottom: 0;
    text-align: left;
    padding: 10px;
    padding-bottom: 2px;
    color: white;
    background:rgba(11, 70, 199, 0.4);
    width:300px;
    
  }

  .boxSection0ne{
    display: none;
  }
  .sectionOneSegment1{
    width: 90%;
  }
  .sectionOneSegment2 {
    display: flex;
    width: 98%;
    margin: 0 auto;
    flex: 1;
  }
  .icon_2{
    display: none;
  }
  .icon_2b{
    display: block;
    float: right;
  }

  .boxSection0ne{
    display: none;
  }
  .icons {
    width: 20px;
    margin-bottom: -30px;
  }
  .topBoxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
   text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .exclusive_box {
    display: grid;
    grid-template-columns: auto;
    
    margin-top: 30px;
    height: auto;
  }
  .exclusive_boxes {
    width: 100%;
    margin: 2px;
  }

    .services_boxes {
      width: 90%;
      margin: 10px;
      padding:6px;
      height: 240px;
      background-color: #ffffff;
      box-shadow: 0 0 2px rgb(153, 153, 153);

  }
  .clientBox {
    width: 100%;
    margin-top: 40px;
    margin-left: 0px;
    padding: 10px;
    background-color: rgb(216, 212, 212);
    -webkit-box-shadow: 0px 1px 0px 2px rgba(217, 214, 217, 0.61);
    -moz-box-shadow: 0px 1px 0px 2px rgba(217, 214, 217, 0.61);
    box-shadow: 0px 1px 0px 2px rgba(217, 214, 217, 0.61);
    transition: transform .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  form {
    /* background: #061be6; */
    padding-bottom: 30px;
    
  }
    .formBoxes{
      width: 80%;
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      margin: 0 auto;

  }
  .servicesSection{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
  }

 
  .dashboard {
    height: 300px;
    width: 99%;
    box-shadow: 5px 10px 8px #888888;

  }
  .clientBoxes {
    width: 90%;
    grid-gap:  20px;
    grid-template-columns: auto;
    margin: 0 auto;
    justify-content: center;
    margin-top: 40px;
    height: inherit;
  }
  .cityBackground {
    color: white;
    text-align: center;
    background-image: linear-gradient(rgba(0, 4, 255, 0.5), rgba(17, 0, 255, 0.5)),
      url("assets/city.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    height: 700px;
    margin-top: 120px;
    position: static;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .positioned_Boxes {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-row-gap: 30px;
    
  }
  .form {
    /* background: #061be6; */
    position: static;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 350px;
    margin-left: 0px;
  }
  .quote{
    margin: 10px;
  }
  
  .section_moneyBox1 {
    width: 100%;
    margin: 0 auto;
  }
  .section_moneyBox1 img {
    width: 80%;
    margin: 0 auto;
  }
  .financeetext{
    width:305px;
    margin-left: 10px;
  }
  .XeroTheme_text {
    width:305px;
    margin-left: 10px;
    color: #ff6100;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .Xerotheme {
    display: flex;
    width: 60%;
    align-items: center;
  }
  .contactButton {
    padding: 13px;
    font-size: 15px;
    border: none;
    background-color: #ff6100;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: background 1s ease-in;
  }
  .Texanhr{
    color:rgb(133, 130, 130);
    width: 100px;
    margin-top: 12px;
  }
  .footerList {
    height: auto;
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
   
  }

  .footerList_text{
    display: grid;
    /* grid-template-columns: auto; */
    justify-content: center;
    width: 100%;
    grid-gap: 5px;

  }
  .box1{
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  .box2{
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .box4{
    grid-column: 1 / span 3;
    grid-row: 3;
  }
  .footer_form {
    padding: 0px;
    width: 100%;
  }

  
}

@media screen and (min-width: 769px) and (max-width: 969px) { 
.servicesButton,.contactButton{
  display: inline-block !important;
}
ul {
  list-style: none;
  margin: 13px;
  
}
ul li {
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0px;
}

h1 {
  font-size: 16px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  line-height:0.5;


}
h2 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight:bold;
  margin-top: 10px;
  line-height: 1.35;
  letter-spacing: 2px;
  

}
h5{
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight:bold;
  margin-top: 10px;
  line-height: 1.4;
  letter-spacing: 2px;
  
}
.Texanhr{
  display: none;
}
.wins_text h2{
  font-size: 12px ;
}
p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;

}
.topBoxes {
  width: 100%;

}
.topContainerText {
  width: 100%;
  padding-top: 70px;
}

.smallscreen{
  display: none;
}
.Provident_text{
  margin-top:9px;
  font-size: 14px;
  padding: 5px;
}
.clientsText{
  font-size: 10px;
  padding-left: 5px;

}
.clientsTextButton{
  padding-left: 5px;
 
}

  .main-header__brand {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #ff6100;
    padding: 1px;
    font-size:25px;
    font-weight: 800;
    
  }
  
  
  .main-header__brand p {
    height: 2.6rem;
    vertical-align: middle;
  }

  .main-nav {
    display: flex;
  }

  .main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-size: 8px;
  }

  

  .main-nav__item {
    margin: 0 1.5rem;
    background-color: #ff6100;
    margin: 0;
    padding: 7px;
    font-size: 6px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .main-nav__item a,
  .mobile-nav__item a {
    font-size: 8px;
    text-decoration: none;
    color: white;
    padding: 0.2rem 0;
  }

  .main-nav__item a:hover,
  .main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
  }

  .main-nav__item--cta a {
    color: white;
    background: #ff6100;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }

  .main-nav__item--cta a:hover,
  .main-nav__item--cta a:active {
    color: #ff6100;
    background: white;
    border: none;
  }

  .topContainer{
    height: 80vh;
    margin-bottom: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("assets/amy.jpg");
  }
  .cartIcons {
    color: white;
    background-color: #061be6;
  }

 
  .Financial_Help2,.Financial_Help {
   font-size: 25px !important;
   text-align: center;
   line-height: 2rem;
   letter-spacing:2;
  letter-spacing: 3px;
  margin-bottom: 19px;
  white-space: normal;
  overflow: visible;
  animation: none;
  margin-top: -23px;

  }
  .Financial_Help_P{
    font-size: 15px;
  overflow: hidden;
  max-width: 75ch;

  }

  #sectionOne {
    flex-direction: column;
    height: 90vh;
    width: 90% !important;
    margin: 0 auto;
    margin-bottom: 90px;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
  }

  .sectionOneSegment2 {
    margin-left: 0px;
    display: flex;
    width: 80%;
    margin: 0 auto ;
    margin-top: 50px !important; 
  }
  .about_Us{
    display:none;
  }
  .team1Text {
    width: 55%;
  }
  
  .services_heading {
    width: 100%;
  }
  .sixBoxesSection{
    width: 100%;
  }
  .topBoxes {
    width: 98%;
  }
  .exclusiveImage{
    display:none;
  }
  .sectionThreeInnerBox{
    width: 80%;
    grid-template-columns:auto;
  }
  .sectionOneSegment1 {
    width: 80%;
    margin: 0 auto;
  }
  .sectionFour {
    width: 90%;
    grid-template-columns:auto auto;
    grid-column-gap:40px;
  }
  .dashboard{
    height: 60vh;
    width: 100%;
  }
  .dashboard_text {
    width: 100%;
  }
  
  
  .cityBackground {
    color: white;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("assets/city.jpg");
    height: auto;
    margin-top: 60px;
    position: static;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
    margin-top: 150px;
  }
  .formBoxes{
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    /* position: static; */
  }
  .positioned_Boxes {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-row-gap: 30px;
    
  }
  .positioned_Boxes {
    width: 50%;
    grid-column-gap: 30px;
    margin: 10px;
  }
  .consultation {
    background: #ff6100;
    padding-left: 10px;
    width: 300px;
    margin-top: 20px;
  }
  .testimonials {
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
  }
  .hrquote{
    width: 300px;
    margin-top: 5px;
  }
 
  .blog_text{
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .clientBoxes {
    width: 95%;
    display:grid;
    grid-gap:  15px;
  }
  
}

@media (min-width:1023px) and (max-width:1024px) {
  .clientBoxes {
    width: 90%;
  
  }
  .topbuttons {
    text-align: center;
    margin-top: -8px;
    
  }
}